<!-- 🚀 PROPERTIES COMPONENT THAT IS PLACED ON THE LEFT. CHILD COMPONENT OF THE HOME COMPONENT -->

<div class="properties">
    <h3 style="text-align: center; font-weight: 500; font-size: 26px; text-decoration: underline; margin-top: 2%; "
        *ngFor="let agent of agent |async">{{agent.firstname}} {{agent.lastname}} | {{agent.company}}</h3>
    <div class="list">
        <div class="property" *ngFor="let record of list |async" (click)="openSlider(record)">
            <p class="p-name">{{ record.name }}</p>
            <div class="details">
                <img class="p-image" src="{{ record.photo }}" alt="property image">
                <p class="p-city">{{record.streetAddress}}, {{ record.city}}, {{record.state}}</p>
            </div>
        </div>
    </div>
</div>