/* 🚀 PROPERTIES */
.properties {
    border: #1f8ceb 3px solid;
    border-radius: 10px;
    transition: all 2s ease;
    position: fixed;
    width: 25%;
    z-index: 1;
    box-shadow: 0.063rem 0 1.25rem 0 black;
}


/* 🚀 SCROLLER */

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #1f8ceb #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #1f8ceb;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

/* 🚀 LIST */

.list {
    margin: 0px auto;
    margin-top: 2%;
    background-color: #ffffff;
    height: 87vh;
    width: 100%;
    overflow: scroll;
    text-align: center;
}

.property {
    margin: 0px auto;
    width: 80%;
    padding-left: 2%;
    margin-top: 5%;
    border-radius: 10px;
}

.property:hover {
    transition-duration: .5s;
    border-radius: 10px;
    background: #ffffff;
    box-shadow:  6px 6px 15px #666666,
                 -6px -6px 15px #ffffff;
}

.details {
    width: 100%;
}

.p-name {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    padding-left: 2%;
    padding-top: 5%;
    text-decoration: underline;
}

.p-image {
    width: 80%;
}

.p-city {
    margin-top: 5%;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 5%;
}

.p-container {
    padding-top: 5%;
    text-align: center;
}


.p-amenity {
    list-style: none;
    text-align: left;
}


