<!-- 🚀 PARENT COMPONENT -->

<div class="layout">
    <div class="row g-0">
        <div class="col-3">
            <app-properties (showComponent)="showSliderComponent($event)"></app-properties>
        </div>
        <div [ngClass]="commonService.isShowSlider == true ? 'col-6' : 'col-9'">
            <app-map></app-map>
        </div>
        <div *ngIf="commonService.isShowSlider" [ngClass]="commonService.isShowSlider == true ? 'col-3' : 'col-0'">
           <app-property-details></app-property-details> 
        </div>
    </div>
</div>
